/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
  background: whitesmoke;
  /* overflow-y: hidden; */
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: white;
}

.header {
  height: 40px;
  width: auto;
  display: block;
  top: 0%;
  background: #333;
  text-align: center;
  position: sticky;
}

.head {
  display: inline-block;
  position: relative;
  color: bisque;
}

.filter_area {
  height: 40px;
  width: auto;
  display: block;
  top: 0%;
  background: black;
  text-align: center;
}

.parent {
  display: grid;
  height: 120vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div1 {
  background-color: #333;
}
.div2 {
  background-color: #333;
}
.div3 {
  background-color: #333;
}
.div4 {
  background-color: #333;
}
.div6 {
  background-color: #333;
}
.div8 {
  background-color: #333;
}

.axis {
  font-size: 1rem;
}

img {
  margin: 20px;
  width: 400px;
  height: 400px;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
