/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
  background: whitesmoke;
  /* overflow-y: hidden; */
  font-size: 14px;
  line-height: 1.42857143;
  color: white;
  background-color: black;
  overflow: hidden;
}

.header {
  height: 30px;
  width: auto;
  display: flex;
  top: 0%;
  background: black;
  text-align: justify;
  justify-items: stretch;
  justify-content: space-between;
  padding: 10px;
}

.head {
  height: 30px;
  display: flex;
  /* position: relative; */
  color: bisque;
  align-items: center;
  align-content: center;
  text-align: center;
  /* border: 5px; */
  border-radius: 10px;
  background-color: cadetblue;
  padding-right: 10px;
  padding-left: 10px;
}

.filter_area {
  height: 30px;
  width: max-content;
  display: flex;
  /* position: relative; */
  top: 0%;
  background: black;
  /* text-align: center; */
  text-align: justify;
  justify-items: stretch;
  justify-content: space-between;
  justify-self: stretch;
  gap: 3px
}

.parent {
  display: grid;
  height: 92vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

.div1 {
  background-color: #333;
  align-items: center;
  align-content: center;
  text-align: center;
}
.div2 {
  background-color: #333;
  align-items: center;
  align-content: center;
  text-align: center;
}
.div3 {
  background-color: #333;
  align-items: center;
  align-content: center;
  text-align: center;
}
.div4 {
  background-color: #333;
  align-items: center;
  align-content: center;
  text-align: center;
}
.div6 {
  background-color: #333;
  /* position: relative; */
  align-items: center;
  align-content: center;
  text-align: center;
}
/* 
#bubble_1 {
  background-color: #333;
  position: relative;
  width: auto;
  height: auto;
} */

.div8 {
  background-color: #333;
  align-items: center;
  align-content: center;
  text-align: center;
}

.axis {
  font-size: 1rem;
}

img {
  margin: 20px;
  width: 400px;
  height: 400px;
}

.bubbles {
  stroke-width: 2px;
  stroke: white;
}
.bubbles:hover {
  stroke: black;
}
